{
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "endOfLine": "lf",
    "semi": false,
    "singleAttributePerLine": true,
    "bracketSpacing": false
}